translate_orchestrator:
  provider_map:
    metadata:
      - service: openai
        model: "z-ai/glm-4.6"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"
    correct:
      - service: openai
        model: "google/gemini-2.5-pro"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"
    subtitle:
      - service: openai
        model: "google/gemini-2.5-pro"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"

transcriber:
  type: whisper
  config:
    model_size: "large-v3"
    device: "cuda"
    compute_type: "float16"


quality_checker:
  provider:
    service: openai
    model: "z-ai/glm-4.6"
    api_key: "ENV_OPENROUTER_API_KEY"
    base_url: "ENV_OPENROUTER_BASE_URL"