translate_orchestrator:
  # 需要使用流式请求的模型列表（模型签名）
  streaming_models:
    - "deepseek-chat"
    - "google/gemini-2.5-pro"

  config:
    director:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
      stream: True # 对于 strategies 下所有的字段，stream属性设置为可选，如果有，优先级高于 streaming_models的设置
      temperature: 0.7 #没有则设置为 1
    actor:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
    category:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
    studio:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
    title:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
    synopsis:
      providers:
        - service: openai
          model: "z-ai/glm-4.6"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
    correct:
      providers:
        - service: openai
          model: "google/gemini-2.5-pro"
          api_key: "ENV_OPENROUTER_API_KEY"
          base_url: "ENV_OPENROUTER_BASE_URL"
      stream: False
      strategy:
        slice: True
        size: 550
    subtitle:
      providers:
        - service: openai
          model: "deepseek-chat"
          api_key: "ENV_DEEPSEEK_API_KEY"
          base_url: "ENV_DEEPSEEK_BASE_URL"
      strategy:
        slice: True
        size: 200
