translate_orchestrator:
  provider_map:
    metadata:
      - service: openai
        model: "deepseek/deepseek-v3.1-terminus"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"
    correct:
      - service: openai
        model: "google/gemini-2.5-pro"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"
    subtitle:
      - service: openai
        model: "deepseek/deepseek-v3.1-terminus"
        api_key: "ENV_OPENROUTER_API_KEY"
        base_url: "ENV_OPENROUTER_BASE_URL"
